<% layout('./layout/page.ejs') %>


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система анализа и мониторинга конкуренции</title>
    <link rel="stylesheet" href="/stylesheets/sales.css">
</head>
<body>
    <section id="products">
        <h2>Ваши продукты</h2>
        <div class="product">
            <h3>Ваш продукт</h3>
            <p>Отчет о ваших продуктах</p>
        </div>
        <div class="product">
            <h3>Мониторинг цен</h3>
            <p>Изменение цены на ваш продукт за этот месяц</p>
        </div>
        <div class="product">
            <h3>Отчеты и аналитика</h3>
            <p>Создание детализированных отчетов и аналитики по рыночным трендам .</p>
        </div>
    </section>

    <section id="contact">
        <h2>Контакты</h2>
        <p>Если у вас есть вопросы, свяжитесь с нами по электронной почте: <a href="mailto:info@competitoranalysis.com">info@competitoranalysis.com</a></p>
    </section>

    <footer>
        <p>&copy; 2024 Система анализа и мониторинга конкуренции. Все права защищены.</p>
    </footer>
</body>
</html>
