body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Устанавливаем минимальную высоту для body */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3), /* Полупрозрачный чёрный слой */
            rgba(0, 0, 0, 0.3)
        ),
        url('/images/background4.png') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1; /* Позволяет main занимать оставшееся пространство */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info h2, .profile-actions h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.profile-actions button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-actions button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

