body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.card {
  height: 200px;
  margin-bottom: 20px ;
  padding: 40px;
  background-image: './images/img1.jpg';
}

a {
  color: #00B7FF;
}
